<html>
<head>
	<title> Pet Clinic </title>
	
	<link href="style.css" type="text/css" rel="stylesheet">
	
</head>
<body>
	
	<div class="top">
		<div>
		 Contact Us 01521227102 | sheba@petclinic.com 
		</div>
	</div>
	
	<div class="logo">
		<div>
			<table>
				<tr>
					<td width="600px" style="font-size:50px;font-family:forte;"> <font color="#ff2e63"> Pet </font><font color="#000"> Clinic</font> </td>
					<td> <br> <br>
						<font size="4px"> 
							<a href="index.html">HOME</a> 
							<a href="buy.html">BUY/ADOPT</a>  
							<a href="service.html">SERVICE</a>
							<a href="vets.html">VETS</a> 
							<a href="contact.html">CONTACT US</a>
						</font>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="middle">
		<div style="background-image:url('img/a.jpg');">
		<p>
			<br> <br>
					Medical Service For Your Pets  <br>
			<font size="5px"> We Care About Your pets </font>
		</p> 
		</div>
	</div>
	
	
	
	<div class="bottom_up">
		<div>
				Make an Appointment
				
				<table>
										
					<tr>
						<td width="500px"> </td>
						<td>	<input type="text" placeholder="First Name">
						<td> 	<input type="text" placeholder="Last Name">
					</tr>
					<tr height="30px">
						
					</tr>
					<tr>
						<td width="500px"> </td>
						<td>	<input type="text" placeholder="Email Id">
						<td> 	<input type="text" placeholder="Mobile No">
					</tr>
					
					<tr height="30px">
						
					</tr>
					<tr>
						<td width="500px"> </td>
						
						<td> 	<input type="text" placeholder="appointment date">
					</tr>
					
						<tr height="30px">
						
					</tr>
					<tr>
						<td width="500px"> </td>
						<td colspan="2">	<textarea placeholder="Message"> </textarea>
					</tr>
					
						<tr height="30px">
						
					</tr>
					<tr>
						<td width="500px"> </td>
						<td colspan="2">	<button> SUBMIT </button>
					</tr>
				</table>
				
		</div>
	</div>
	
	
	
	
	
	<div class="nav_down">
		<div>
		 &copy; Pet Clinic, designed by Group 2 
		</div>
	</div>
	
