{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Vets {% endblock %}

{% block content %}

<section class="vets_page_design">
    {% for each_vet in vets_data %}
    <figure>
        <img src="{{each_vet.Image.url}}">
        <fig-camption>
            <br><br>
            Name: <strong>{{each_vet.Name}}</strong>
            {{each_vet.HighestDegree}}, {{each_vet.University}} <br>
            Specialist: Medicine <br>
            Address: {{each_vet.Address}}<br>
            Contact: {{each_vet.ContactNo}}
        </fig-camption>
    </figure>
    {% endfor %}
</section>

{% endblock %}

