{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Buy {% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>

<section class="vets_page_design">
    {% for each_offer in available_buy_offer %}
    <figure>
        <img src="{{each_offer.Image.url}}">
        <fig-camption>
            <br><br>
            <strong>{{each_offer.Name}}</strong><br>
            {{each_offer.Type}} <br>
            {{each_offer.Description}} <br>
            {{each_offer.Age}} month(s) <br>
            {{each_offer.Color}}<br>
            BDT{{each_offer.Price}}<br>
            <button class="btn btn-info" type="button" name="button">Buy</button>
        </fig-camption>
    </figure>
    {% endfor %}
</section>

{% endblock %}

